@model System.ComponentModel.Table

@{
    var info = Model.GetInfo();

    ViewData["Title"] = $"Editar {Model.Id} - {info.PluralName}";

    var parent = (string?)ViewData["Parent"];
    var from = (string?)ViewData["From"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Minha Loja</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">@info.PluralName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar @Model.Id</li>
    </ol>
</nav>

<section>
    <h1>Editar @info.SingleName</h1>

    <form asp-action="Edit" class="container">
        @*<h5>Cliente @Model.Id</h5>*@

        <partial name="_Form" model="Model" />

        <input type="hidden" asp-for="Id" />

        @*<input type="hidden" asp-for="RowVersion" />*@

        <input type="hidden" asp-for="@parent" />

        <input type="hidden" asp-for="@from" />

        <p>
            <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i>Salvar</button>
        </p>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
