@model MinhaLoja.Models.Pedido

@{
    var parent = (string?)ViewData["Parent"];
}

<dl class="row">
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Cliente)
    </dt>
    <dd class="col-sm-8 col-md-9">
        <a asp-area="" asp-controller="Cliente" asp-action="Details" asp-route-id="@Model.ClienteId">
            @Html.DisplayFor(model => model.Cliente.NomePrimeiro)
            <i class="bi bi-link-45deg"></i>
        </a>
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Data)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Data)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Servico)
    </dt>
    <dd class="col-sm-8 col-md-9">
        <a asp-area="" asp-controller="Servico" asp-action="Details" asp-route-id="@Model.ServicoId">
            @Html.DisplayFor(model => model.Servico.Descricao)
            <i class="bi bi-link-45deg"></i>
        </a>
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Descricao)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Descricao)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.EntregaPrevisaoData)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.EntregaPrevisaoData)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.EntregaData)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.EntregaData)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Valor)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Valor)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.SinalValor)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.SinalValor)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Pago)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Pago)
    </dd>
</dl>
