@model MinhaLoja.Models.Pedido

@{
    var parent = (string?)ViewData["Parent"];
}

<dl class="row">
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Id)&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Cliente)
    </dt>
    <dd class="col-sm-8 col-md-9">
        <a asp-area="" asp-controller="Clientes" asp-action="Details" asp-route-id="@Model.ClienteId">
            @Html.DisplayFor(model => model.Cliente.Nome)
            <i class="bi bi-link-45deg"></i>
        </a>&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Data)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Data)&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Servico)
    </dt>
    <dd class="col-sm-8 col-md-9">
        <a asp-area="" asp-controller="Servicos" asp-action="Details" asp-route-id="@Model.ServicoId">
            @Html.DisplayFor(model => model.Servico.Descricao)
            <i class="bi bi-link-45deg"></i>
        </a>&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Descricao)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Descricao)&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.EntregaPrevisaoData)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.EntregaPrevisaoData)
        <a asp-action="AlterEntregaPrevisao" asp-route-id="@Model.Id" asp-route-parent="@parent" asp-route-from="Details">Alterar<i class="bi bi-pencil"></i></a>&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.EntregaData)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.EntregaData)&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Valor)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Valor)&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.SinalValor)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.SinalValor)&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Pago)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Pago)&nbsp;
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.EntregaPrevisaoHistoricosTotalQuantidade)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.EntregaPrevisaoHistoricosTotalQuantidade)&nbsp;
    </dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-parent="@parent" asp-route-from="Details">Editar<i class="bi bi-pencil-square"></i></a>
    <a asp-action="Entregar" asp-route-id="@Model.Id" asp-route-parent="@parent" asp-route-from="Details">Entregar<i class="bi bi-handbag"></i></a>
    <a asp-action="Delete" asp-route-id="@Model.Id" asp-route-parent="@parent" asp-route-from="Details" class="link-danger">Excluir<i class="bi bi-trash"></i></a>
</p>
