@model MinhaLoja.Models.ServicoPrecoHistorico

@{
    var parent = (string?)ViewData["Parent"];
}

<dl class="row">
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Servico)
    </dt>
    <dd class="col-sm-8 col-md-9">
        <a asp-area="" asp-controller="Servicos" asp-action="Details" asp-route-id="@Model.ServicoId">
            @Html.DisplayFor(model => model.Servico.Descricao)
            <i class="bi bi-link-45deg"></i>
        </a>
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Data)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Data)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Valor)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Valor)
    </dd>
    <dt class="col-sm-4 col-md-3">
        @Html.DisplayNameFor(model => model.Duracao)
    </dt>
    <dd class="col-sm-8 col-md-9">
        @Html.DisplayFor(model => model.Duracao)
    </dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-parent="@parent" asp-route-from="Details">Editar<i class="bi bi-pencil-square"></i></a>
    <a asp-action="Delete" asp-route-id="@Model.Id" asp-route-parent="@parent" asp-route-from="Details" class="link-danger">Excluir<i class="bi bi-trash"></i></a>
</p>
