@model IEnumerable<MinhaLoja.Models.Cliente>

@{
    var parent = (string?)ViewData["Parent"];
}

<div class="row table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomePrefixo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomePrimeiro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeSegundo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeSufixo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PedidosTotalQuantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PedidosTotalValor)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <a asp-area="" asp-controller="Clientes" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-link-45deg"></i></a>
                        <a asp-area="" asp-controller="Clientes" asp-action="Edit" asp-route-id="@item.Id" asp-route-parent="@parent"><i class="bi bi-pencil-square"></i></a>
                        <a asp-area="" asp-controller="Clientes" asp-action="Delete" asp-route-id="@item.Id" asp-route-parent="@parent" class="link-danger"><i class="bi bi-trash"></i></a>
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Id)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomePrefixo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomePrimeiro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeSegundo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeSufixo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidosTotalQuantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidosTotalValor)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
