@model IEnumerable<MinhaLoja.Models.Cliente>

@{
    var parent = (string?)ViewData["Parent"];
}

<div class="row table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Referencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PedidosQuantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PedidosTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PagamentosQuantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PagamentosTotal)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <a asp-area="" asp-controller="Clientes" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-link-45deg"></i></a>
                        <a asp-area="" asp-controller="Clientes" asp-action="Edit" asp-route-id="@item.Id" asp-route-parent="@parent"><i class="bi bi-pencil"></i></a>
                        <a asp-area="" asp-controller="Clientes" asp-action="Delete" asp-route-id="@item.Id" asp-route-parent="@parent" class="link-danger"><i class="bi bi-trash"></i></a>
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Id)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Referencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidosQuantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidosTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PagamentosQuantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PagamentosTotal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
