@model IEnumerable<MinhaLoja.Models.Servico>

@{
    var parent = (string?)ViewData["Parent"];
}

<div class="row table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoValor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoHistoricosTotalQuantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PedidosTotalQuantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PedidosTotalValor)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <a asp-area="" asp-controller="Servicos" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-link-45deg"></i></a>
                        <a asp-area="" asp-controller="Servicos" asp-action="Edit" asp-route-id="@item.Id" asp-route-parent="@parent"><i class="bi bi-pencil-square"></i></a>
                        <a asp-area="" asp-controller="Servicos" asp-action="Delete" asp-route-id="@item.Id" asp-route-parent="@parent" class="link-danger"><i class="bi bi-trash"></i></a>
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Id)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecoValor)
                        <a asp-area="" asp-controller="Servicos" asp-action="AlterPreco" asp-route-id="@item.Id" asp-route-parent="@parent"><i class="bi bi-pencil"></i></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecoHistoricosTotalQuantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidosTotalQuantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidosTotalValor)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
